<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Microblog!</title>
        {% endif %}
    </head>
    <body>
        {% with messages =  get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes">
                {% for cat, msg in messages %}
                <li class="{{ cat }}">{{ msg }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% filter indent(width=4) %}
        {%+ block content %}{% endblock content %}
        {% endfilter %}
    </body>
</html>
