{% extends "layout.html" %}
{% import "macros/form.html" as f %}

{% block content %}
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>Sign in</legend>
        {{ f.render_field(form.email) }}
        {{ f.render_field(form.password) }}
        <p>{{ form.remember_me() }} {{ form.remember_me.label() }}</p>
    </fieldset>
    {{ form.submit() }}<br>
    <small>Don't have an account? <a href="{{ url_for('users_bp.register') }}">Sign up</a></small>
</form>
{% endblock content %}
