{% extends "layout.html" %}
{% import "macros/form.html" as f %}

{% block content %}
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>Sign up</legend>
        {{ f.render_field(form.username) }}
        {{ f.render_field(form.email) }}
        {{ f.render_field(form.password) }}
        {{ f.render_field(form.confirm_password) }}
    </fieldset>
    {{ form.submit() }}<br>
    <small>Already have an account? <a href="{{ url_for('users_bp.login') }}">Sign in</a></small>
</form>
{% endblock content %}
